<div class="mt-5">
  <h4 class="text-center">
    <b>ENTER COURSE DETAILS</b>
  </h4>
</div>
<br />
<div class="container col-md-6">
  <form #addcourse="ngForm" (ngSubmit)="addcourse_f()">
    <div class="form-group">
      <label for="ctitle"><b>Course Title</b></label>
      <br />
      <input
        type="text"
        class="form-control"
        formControlName="title"
        [(ngModel)]="course.title"
      />
      <br />
    </div>

    <div class="form-group">
      <label for="ctitle"><b>Course Description</b></label>
      <br />
      <input
        type="text"
        class="form-control"
        formControlName="desc"
        [(ngModel)]="course.desc"
      />
      <br />
    </div>

    <div class="form-group">
      <label for="ctitle"><b>Course Date</b></label>
      <br />
      <input
        type="text"
        class="form-control"
        formControlName="date"
        [(ngModel)]="course.date"
      />
      <br />
    </div>

    <div class="form-group">
      <label for="ctitle"><b>Course Venue</b></label>
      <br />
      <input
        type="text"
        class="form-control"
        formControlName="venue"
        [(ngModel)]="course.venue"
      />
      <br />
    </div>

    <div class="form-group">
      <label for="ctitle"><b>Course Duration</b></label>
      <br />
      <input
        type="text"
        class="form-control"
        formControlName="duration"
        [(ngModel)]="course.duration"
      />
      <br />
    </div>
    <br />
    <br />
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
